Biblioteca.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <annotation>
        <documentation> Esquema que marca la estructura de una biblioteca </documentation>
    </annotation>
    <!-- El nodo raíz se llama Biblioteca_02-->
    <element name="Biblioteca_02">
        <complexType>
            <sequence>
                <element name="Libros">
                    <complexType>
                        <sequence>
                            <element name="Libro" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="Titulo_libro" type="string" minOccurs="1"
                                            maxOccurs="1"></element>
                                        <element name="Capitulo" minOccurs="1" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="Titulo_cap" type="string"
                                                        minOccurs="1" maxOccurs="1"></element>
                                                    <element name="Indice_libro" type="string"
                                                        minOccurs="1" maxOccurs="1"></element>
                                                    <element name="Sinopsis"
                                                        minOccurs="1" maxOccurs="1">
                                                        <simpleType>
                                                            <restriction base="string">
                                                                <!-- La sinopsis debe de tener una
                                                                longitud entre
                                                    20 y 500 caracteres -->
                                                                <minLength value="20" />
                                                                <maxLength value="500" />
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="Contenido_libro">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="Informacion_libro"
                                                                    type="string"></element>
                                                            </sequence>
                                                            <attribute name="enlace_cap"
                                                                use="required">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <!-- Tiene que empezar por
                                                                        www/WWW/Www y seguir con un punto y luego letras-->
                                                                        <pattern
                                                                            value="[WWW,www,Www]+\..+[A-Za-z]+"></pattern>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="numero_paginas_cap" use="required">
                                                    <simpleType>
                                                        <restriction base="integer">
                                                            <!-- Tiene que ser un numero comprendido
                                                        entre el 10 y el 99998 -->
                                                            <minInclusive value="2"></minInclusive>
                                                            <maxExclusive value="99999"></maxExclusive>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="Id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Tiene que empezar siempre por L seguido de 4
                                                digitos -->
                                                <pattern value="L[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase_libro" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Tiene que ser del tipo novela, infantil o
                                                didáctico -->
                                                <enumeration value="novela"></enumeration>
                                                <enumeration value="infantil"></enumeration>
                                                <enumeration value="didactico"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="numero_paginas_libro" use="required">
                                        <simpleType>
                                            <restriction base="integer">
                                                <!-- Tiene que ser un numero comprendido entre el 10
                                                y el 99999 -->
                                                <minInclusive value="10"></minInclusive>
                                                <maxInclusive value="99999"></maxInclusive>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <element name="Revistas">
                    <complexType>
                        <sequence>
                            <element name="Revista" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="Titulo_revista" type="string" minOccurs="1"
                                            maxOccurs="1"></element>
                                        <element name="Numero_de_revista">
                                            <simpleType>
                                                <restriction base="integer">
                                                    <!-- Tiene que ser un numero comprendido entre
                                                    el 1 y el
                                        999999 -->
                                                    <minInclusive value="1"></minInclusive>
                                                    <maxInclusive value="999999"></maxInclusive>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="Indice_contenido" type="string"></element>
                                        <element name="Secciones_revista">
                                            <complexType>
                                                <sequence>
                                                    <element name="Seccion_revista" minOccurs="1"
                                                        maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="Contenido_revista">
                                                                    <complexType>
                                                                        <sequence>
                                                                            <element
                                                                                name="Informacion_revista"></element>
                                                                        </sequence>
                                                                        <attribute
                                                                            name="enlace_revista"
                                                                            use="required">
                                                                            <simpleType>
                                                                                <restriction
                                                                                    base="string">
                                                                                    <!-- Tiene que
                                                                                    empezar por
                                                                        www/WWW/Www y seguir con un punto y luego letras-->
                                                                                    <pattern
                                                                                        value="[WWW,www,Www]+\..+[A-Za-z]+"></pattern>
                                                                                </restriction>
                                                                            </simpleType>
                                                                        </attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="numero_paginas_seccion"
                                                                use="required">
                                                                <simpleType>
                                                                    <restriction base="integer">
                                                                        <!-- Minimo de páginas
                                                                        permitido 2,
                                                            máximo de 20 -->
                                                                        <minInclusive value="2"></minInclusive>
                                                                        <maxInclusive value="20"></maxInclusive>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="Id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Tiene que empezar siempre por R seguido de 4
                                                digitos -->
                                                <pattern value="R[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Tiene que ser del tipo (informática, corazón,
                                                coches,
                                    investigación u otras) -->
                                                <enumeration value="informatica"></enumeration>
                                                <enumeration value="corazon"></enumeration>
                                                <enumeration value="coches"></enumeration>
                                                <enumeration value="investigacion"></enumeration>
                                                <enumeration value="otras"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="numero_paginas_revista" use="required">
                                        <simpleType>
                                            <restriction base="integer">
                                                <!-- Tiene que tener un mínimo de 10 páginas y un
                                                máximo de 70 -->
                                                <minInclusive value="10"></minInclusive>
                                                <maxInclusive value="70"></maxInclusive>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <element name="Periodicos">
                    <complexType>
                        <sequence>
                            <element name="Periodico">
                                <complexType>
                                    <sequence>
                                        <element name="Secciones_periodico">
                                            <complexType>
                                                <sequence>
                                                    <element name="Seccion_periodico" minOccurs="1"
                                                        maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="Articulos"
                                                                    minOccurs="1"
                                                                    maxOccurs="unbounded">
                                                                    <complexType>
                                                                        <attribute name="Autor"
                                                                            use="required">
                                                                            <simpleType>
                                                                                <restriction
                                                                                    base="string">
                                                                                    <!-- Nombre de
                                                                                    autor con
                                                                                    longitud mínima
                                                                                    de 3 y máxima de
                                                                                    35 -->
                                                                                    <minLength
                                                                                        value="3"></minLength>
                                                                                    <maxLength
                                                                                        value="35"></maxLength>
                                                                                </restriction>
                                                                            </simpleType>
                                                                        </attribute>
                                                                    </complexType>
                                                                </element>
                                                                <element name="Contenido_periodico"
                                                                    minOccurs="1"
                                                                    maxOccurs="unbounded">
                                                                    <complexType>
                                                                        <sequence>
                                                                            <element
                                                                                name="Informacion_periodico"
                                                                                minOccurs="1"
                                                                                maxOccurs="unbounded"
                                                                                type="string">
                                                                            </element>
                                                                        </sequence>
                                                                        <attribute
                                                                            name="enlace_periodico"
                                                                            use="required">
                                                                            <simpleType>
                                                                                <restriction
                                                                                    base="string">
                                                                                    <!-- Tiene que
                                                                                    empezar por
                                                                        www/WWW/Www y seguir con un punto y luego letras-->
                                                                                    <pattern
                                                                                        value="[WWW,www,Www]+\..+[A-Za-z]+"></pattern>
                                                                                </restriction>
                                                                            </simpleType>
                                                                        </attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_seccion"
                                                                use="required">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <!-- Tiene que ser del tipo
                                                                        económica, opinión,
                                                                        deportes, nacional o
                                                                        internacional -->
                                                                        <enumeration
                                                                            value="economica"></enumeration>
                                                                        <enumeration value="opinion"></enumeration>
                                                                        <enumeration
                                                                            value="deportes"></enumeration>
                                                                        <enumeration
                                                                            value="nacional"></enumeration>
                                                                        <enumeration
                                                                            value="internacional"></enumeration>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="Indice_periodico" type="string">
                                        </element>
                                    </sequence>
                                    <attribute name="Id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- Tiene que empezar siempre por P seguido de 4
                                                digitos -->
                                                <pattern value="P[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase_periodico" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <!-- La clase tiene que ser internacional o nacional -->
                                                <enumeration value="nacional"></enumeration>
                                                <enumeration value="internacional"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_de_publicacion" type="date"
                                        use="required">
                                    </attribute>
                                </complexType>
                            </element>

                        </sequence>

                    </complexType>
                </element>

            </sequence>

        </complexType>
    </element>
</schema>